@page "/"

<PageTitle>Home</PageTitle>

<h1>Life Management</h1>

Welcome to the Life Management Blazor Web Server App.<br><br>

This app is currently in Version 1.0. Subsequent versions are expected with additional features.<br><br>

Upcoming Releases: <br>
- Version 2.0: The ability to track appointments.<br>
- Version 3.0: The ability to track expenses.<br>
- Version 4.0: User accounts and persistant storage of data.<br><br>


Created by Niall Nulty
