@page "/"

<PageTitle>Home</PageTitle>

<h1>Life Management</h1>

<p style="margin-top:20px;margin-bottom:20px;">Welcome to the Life Management Blazor Web Server App.</p>


<p style="margin-bottom:20px;">This app is currently in Version 1.0.0. Subsequent versions are expected with additional features.</p>

<p style="margin-bottom:5px;">Upcoming Releases: </p>
<p style="margin-bottom:5px;">- Version 2.0.0: The ability to track appointments.</p>
<p style="margin-bottom:5px;">- Version 3.0.0: The ability to track expenses.</p>
<p style="margin-bottom:5px;">- Version 4.0.0: User accounts and persistant storage of data.</p>
<p style="margin-bottom:5px;">- Version 4.1.0: UI / Styling Overhaul & Improvements</p>
<p style="margin-bottom:50px;">- Version 4.2.0: UX Upgrades for a More Intuitive Experience</p>


<p style="margin-bottom:50px;">Created by Niall Nulty.</p>



<h1>Release Notes</h1>
<h4>Version</h4>
<p>1.0.0</p>
<h4>Release Date</h4>
<p>03/01/2025</p>
<h4>Features</h4>
<p>- Initial Project Created.</p>
<p>- Basic CRUD operations with in-memory storage for Note Tracking.</p>

