@page "/"

<PageTitle>Home</PageTitle>

<h1>Life Management</h1>

<p style="margin-top:20px;margin-bottom:20px;">Welcome to the Life Management Blazor Web Server App.</p>


<p style="margin-bottom:20px;">This app is currently in Version 1.0.0. Subsequent versions are expected with additional features.</p>

<p style="margin-bottom:5px;">Upcoming Releases: </p>
<p style="margin-bottom:5px;">- Version 2.0.0: The ability to track appointments.</p>
<p style="margin-bottom:5px;">- Version 3.0.0: The ability to track expenses.</p>
<p style="margin-bottom:50px;">- Version 4.0.0: User accounts and persistant storage of data.</p>


Created by Niall Nulty
